/* Header layout */
header.page-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
header.page-header div.logo {
  grid-column: 1;
  grid-row: 1 / span 2;
}
header.page-header nav.menu {
  grid-column: 2;
  grid-row: 1;
  margin-top: auto;
}
header.page-header nav.social-icons {
  grid-column: 2;
  grid-row: 2;
  margin-top: auto;
}

@media (max-width: 600px) {
  header.page-header {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  header.page-header div.logo {
    grid-column: 1;
    grid-row: 1;
  }
  header.page-header nav.menu {
    grid-column: 1;
    grid-row: 2;
  }
  header.page-header nav.menu ul {
    text-align: center;
  }
  header.page-header nav.social-icons {
    grid-column: 1;
    grid-row: 3;
  }
  header.page-header nav.social-icons ul {
    text-align: center;
  }
}

/* Title */
.title :link:not(:hover) {
  text-decoration: none;
}

/* Menu */
nav.menu ul {
  font-size: 1.5rem;
}

/* Social media icons */
nav.social-icons ul {
  list-style-type: none;
}
nav.social-icons ul li {
  display: inline;
}
nav.social-icons svg {
  width: 24px;
  height: 24px;
}

/* Header direct links */
h2 a.direct-link, h3 a.direct-link, h4 a.direct-link, h5 a.direct-link, h6 a.direct-link {
  text-decoration: none;
  opacity: 0.3;
}
h2 a.direct-link:hover, h3 a.direct-link:hover, h4 a.direct-link:hover, h5 a.direct-link:hover, h6 a.direct-link:hover {
  text-decoration: underline;
  opacity: 1;
}

/* Social icons */
nav.social-icons {
  text-align: center;
}
nav.social-icons li+li {
  margin-left: var(--unit);
}
nav.social-icons a {
  text-decoration: none;
}

/* Footer text */
nav.footer-text {
  text-align: center;
}
nav.footer-text li {
  margin-left: 0;
  margin-right: 0;
  padding-right: var(--unit);
}
nav.footer-text li+li {
  padding-left: var(--unit);
  padding-right: var(--unit);
  border-left: 3px solid white;
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}
.postlist-item {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  line-height: 1.8;
}
.postlist-item ul {
  list-style: none;
  font-size: 1rem;
}
.postlist-item .title {
  font-size: 1.8rem;
}
.postlist-item .date {
  padding-left: 0.3rem;
  color: var(--color-secondary);
  font-size: 0.8rem;
  word-spacing: -0.5px;
  text-transform: uppercase;
}
.postlist-item .description {
  padding-left: 0.3rem;
}

/* Tags */
.post-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.65em;
  font-weight: bold;
  padding: 0.3em 0.5em 0.1em 0.5em;
  margin-left: 0.6666666666667em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  color: var(--color-body);
  background-color: var(--color-primary-subdued);
  border: 1px solid var(--color-body);
  border-radius: 0.5em;
  border-style: dashed;
  text-decoration: none;
  line-height: 1.8;
}
a[href].post-tag,
a[href].post-tag:visited {
  color: inherit;
}
a[href].post-tag:hover,
a[href].post-tag:focus {
  background-color: var(--color-gray-20);
}
.postlist-item > .post-tag {
  align-self: center;
}

/* Next/previous posts */
.next-previous-posts {
  display: grid;
  align-items: center;
  grid-row-gap: 5px;
  grid-column-gap: 10px;
  grid-template-columns: 50px 100px auto;
}
.next-previous-posts .dir-indicator {
  grid-template-columns: 1 / 2;
}
.next-previous-posts .next-previous-prompt {
  grid-template-columns: 2 / 3;
  font-weight: bold;
  text-transform: uppercase;
}
.next-previous-posts .next-previous-title {
  grid-template-columns: 3;
}
.next-previous-posts a {
  text-decoration: none;
}
.next-previous-posts a:hover {
  color: var(--color-primary-hover);
  text-decoration: underline;
}

/* Comments */
.comments {
  margin-top: 1rem;
  border-top: 1px solid white;
  padding-top: 2rem;
}
