---
layout: layouts/home.njk
blogPostsToDisplay: 10
---

<section class="intro">
  <h1>{{ metadata.author.name }}</h1>
  <p>{{ metadata.author.tagline }}</p>
</section>

<section class="posts">
  {% set maxPosts = collections.blog.length | min(blogPostsToDisplay) %}
  <h1>Latest posts</h1>

  {% set postslist = collections.blog | head(-1*maxPosts) %}
  {% include "postslist.njk" %}

  <p><a href="{{ '/blog/' | url }}">Earlier posts...</a></p>
</section>
