---
layout: layouts/home.njk
blogPostsToDisplay: 10
---

<section class="posts">
  {% set maxPosts = collections.blog.length | min(blogPostsToDisplay) %}
  <header>
    <h1>Latest posts</h1>
  </header>

  {% set postslist = collections.blog | head(-1*maxPosts) %}
  <article>
    {% include "postslist.njk" %}
  </article>

  <article>
    <p><a href="{{ '/blog/' | url }}">Earlier posts...</a></p>
  </article>
</section>
