---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - blog
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag | slugify }}/
---
<header>
  <h1>Tagged “{{ tag }}”</h1>
</header>

{% set postslist = collections[ tag ] %}
<article>
  {% include "postslist.njk" %}
</article>

<article>
  <p>See <a href="{{ '/tags/' | url }}">all tags</a>.</p>
</article>
