{% svgspriteSocial %}
<nav class="social-icons">
  <ul>
    <li>
      <a href="https://github.com/{{ social.github }}">
        {% svgSocial "github", "GitHub" %}
      </a>
    </li>
    <li>
      <a href="https://{{social.mastodon.server}}/@{{social.mastodon.handle}}">
        {% svgSocial "mastodon", "Mastodon" %}
      </a>
    </li>
    <li>
      <a href="https://twitter.com/{{social.twitter}}">
        {% svgSocial "twitter", "Twitter" %}
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/{{social.linkedin}}/">
        {% svgSocial "linkedin", "LinkedIn" %}
      </a>
    </li>
    <li>
      <a href="https://stackoverflow.com/users/{{social.stackoverflow.userid}}/{{social.stackoverflow.username}}">
        {% svgSocial "stackoverflow", "StackOverflow" %}
      </a>
    </li>
    <li>
      <a href="mailto:{{ metadata.author.email }}">
        {% svgSocial "email", metadata.author.email %}
      </a>
    </li>
    <li>
      <a href="{{ '/feed/feed.xml' | url }}">
        {% svgSocial "rss", "Feed" %}
      </a>
    </li>
  </ul>
</nav>
