---
layout: layouts/home.njk
override:tags: []
eleventyNavigation:
  key: Blog
  order: 1
---

<header>
  <h1>Blog archive</h1>
</header>

{% set postslist = collections.blog %}
<article>
  {% include "postslist.njk" %}
</article>
