<!doctype html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {%- if title %}
        {{ title }} | {{ metadata.title }}
      {%- else %}
        {{ metadata.title }}
      {%- endif %}
    </title>
    <meta name="description" content="{{ description or metadata.description }}">
    <meta name="generator" content="{{ eleventy.generator }}">

    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-diff.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
  </head>
  <body>
    <header>
      <h1 class="home"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>

      {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
      <nav class="menu">
      {%- for entry in collections.all | eleventyNavigation %}
        <a href="{{ entry.url | url }}"{% if entry.url == page.url %} class="nav-item-active"{% endif %}>{{ entry.title }}</a>
      {%- endfor %}
      </nav>

      <nav class="social-media">
        Social media icons
      </nav>
    </header>

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>

    <footer>
      <nav class="social-media">
        Social media icons
      </nav>

      <section class="footer-text">
        <span class="copyright">Copyright © 2022 {{ metadata.author.name }}</span>
        <span class="built-by">Built with <a href="https://11ty.dev">Eleventy</a></span>
        <span class="feed-link"><a href="{{ metadata.feed.path | url }}">Feed</a></span>
        <span class="sitemap-link"><a href="{{ metadata.sitemap.path | url }}">Sitemap</a></span>
        <span class="source-link"><a href="{{ metadata.repository }}">Source</a></span>
      </section>
    </footer>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
