<!doctype html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {%- if title %}
        {{ title }} | {{ metadata.title }}
      {%- else %}
        {{ metadata.title }}
      {%- endif %}
    </title>
    <meta name="description" content="{{ description or metadata.description }}">
    <meta name="generator" content="{{ eleventy.generator }}">

    <link rel="stylesheet" href="{{ '/css/gd.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-diff.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
  </head>
  <body>
    <header>
      {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
      <nav class="menu">
        <a class="title" href="{{ '/' | url }}">
          <img src="{{ '/svg/logo.svg' | url }}" alt="Zach on Code">
        </a>
        <ul>
          {%- for entry in collections.all | eleventyNavigation %}
          <li><a href="{{ entry.url | url }}"{% if entry.url == page.url %} class="nav-item-active"{% endif %}>{{ entry.title }}</a></li>
          {%- endfor %}
        </ul>
      </nav>

      <nav class="social-media">
        <ul>
          <li>Social</li>
          <li>media</li>
          <li>icons</li>
        </ul>
      </nav>
    </header>

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>

    <footer>
      <nav class="social-media">
        <ul>
          <li>Social</li>
          <li>media</li>
          <li>icons</li>
        </ul>
      </nav>

      <nav class="footer-text">
        <ul>
          <li class="copyright">Copyright © 2022 {{ metadata.author.name }}</li>
          <li class="built-by">
            Built with
            <a href="https://11ty.dev">Eleventy</a>,
            <a href="https://gdcss.netlify.app/">gd.css</a>
          </li>
          <li class="feed-link"><a href="{{ metadata.feed.path | url }}">Feed</a></li>
          <li class="sitemap-link"><a href="{{ metadata.sitemap.path | url }}">Sitemap</a></li>
          <li class="source-link"><a href="{{ metadata.repository }}">Source</a></li>
        </ul>
      </nav>
    </footer>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
