---
layout: layouts/base.njk
templateClass: tmpl-post
---
<header>
  <h1>{{ title }}</h1>

  <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
  {%- for tag in tags | filterTagList %}
  {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
  {%- endfor %}
</header>

<article>
  {{ content | safe }}
</article>

{%- if collections.blog %}
{%- set nextPost = collections.blog | getNextCollectionItem(page) %}
{%- set previousPost = collections.blog | getPreviousCollectionItem(page) %}
{%- if nextPost or previousPost %}
<article class="next-previous-posts">
  {%- if nextPost %}
    <div class="dir-indicator">
      <a href="{{ nextPost.url | url }}">
        {% feather "arrow-right-circle", {
          width: 48,
          height: 48
        } %}
      </a>
    </div>

    <div class="next-previous-prompt">Next</div>

    <div class="next-previous-title">
      <a href="{{ nextPost.url | url }}">
        {{- nextPost.data.title }}
      </a>
    </div>
  {% endif %}

  {%- if previousPost %}
    <div class="dir-indicator">
      <a href="{{ previousPost.url | url }}">
        {% feather "arrow-left-circle", {
          width: 48,
          height: 48
        } %}
      </a>
    </div>

    <div class="next-previous-prompt">Previous</div>

    <div class="next-previous-title">
      <a href="{{ previousPost.url | url }}">
        {{- previousPost.data.title }}
      </a>
    </div>
  {% endif %}
</article>
{%- endif %}
{%- endif %}
